/* Write your CSS here */
.list {
  display: flex;
  justify-content: space-between;
}
.delete {
  border: 2px solid #ff0b37;
  color: #ff0b37;
  width: 120px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.title {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 20px;
}
