/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card-container {
  border: none;
  border-radius: 10px;
  padding: 25px;
  width: 90%;
  background-color: white;
}
.heading {
  text-align: center;
  color: #ff8542;
  font-family: 'roboto';
  font-size: 30px;
}
.list-container {
  list-style-type: none;
  padding: 0px;
  width: 90%;
  margin: auto;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.input-value {
  width: 400px;
  height: 40px;
  border: 2px solid rgb(55, 52, 52);
  border-radius: 5px;
  margin-right: 20px;
  font-size: 17px;
}
.add {
  font-family: 'roboto';
  color: blue;
  background-color: transparent;
  border: 2px solid blue;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
